# Core config
PORT=9001

# App config
APP_NAME=SEO Rank Tracker
APP_SHORT_NAME=seo-rank-tracker
DOMAIN=localhost
SERVER_URL=http://localhost:9001
WEB_URL=http://localhost:5173

# Jwt
JWT_SECRET=secret

# Database (Used to establish connection)
MONGO_URI=YOUR_MONGODB_URL

# Browserbase api key (Used for data scraping)
BROWSERBASE_API_KEY=YOUR_BROWSERBASE_API_KEY

# Gemini api key (Used to ai seo data anlysis)
GEMINI_API_KEY=YOUR_GEMINI_API_KEY

# Vipin123!@#
