# Core config
PORT=9001
NODE_TYPE=master # {master, cluster}
CLUSTER_WORKERS=2 # NOTE: Only required when NODE_TYPE is cluster & default is 2
NODE_ENV=development # {production, development, test}
LOG_LEVEL=info # {error, warn, info, debug}

# App config
APP_ENV=test # {production, test} NOTE: Only required when NODE_ENV is production
APP_NAME=NestJS App
APP_SHORT_NAME=nestjs-app
DOMAIN=localhost
SERVER_URL=http://localhost:9001
ADMIN_WEB_URL=
APP_WEB_URL=
APP_URI=

# Metrics
ENABLE_METRICS=false
METRICS_PORT=8080
METRICS_HOST=0.0.0.0

# Storage
STORAGE_DIR=storage
STORAGE_URL=

# Jwt
JWT_SECRET=secret

# Google OAuth2.0 (Only required on production)
GOOGLE_OAUTH_CLIENT_ID=example-client-id.apps.googleusercontent.com
GOOGLE_OAUTH_CLIENT_SECRET=secret

# Mail (Only required on production)
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=example
SMTP_PASSWORD=secret
SMTP_SENDER=info@example.com

# Database (Used to establish connection)
DATABASE_URL=postgresql://postgres:secret@postgres:5432/nestjs-app
REDIS_URI=redis://default:secret@redis:6379
MONGO_URI=mongodb://root:secret@mongo:27017/nestjs-app?authSource=admin

# Docker Compose Config
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret

REDIS_PORT=6379
REDISINSIGHT_PORT=8001
REDIS_PASSWORD=secret

MONGO_PORT=27017
MONGO_USER=root
MONGO_PASSWORD=secret

# Docker Volumes (Only required on production)
POSTGRES_DATA_VOLUME=
REDIS_DATA_VOLUME=
MONGO_DATA_VOLUME=
STORAGE_DATA_VOLUME=

# PgAdmin
PGADMIN_PORT=8888
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=secret

# Admin Credentials
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD_SALT=3ad776bb616579163ca5db27950db2ff
ADMIN_PASSWORD_HASH=ffb3c1f9034a6fc1e5bb82dc8016204b2c03711bd73e6d2e793e3935d6fca924 # {Default Password: Admin123!@#}
